.loader-container {
    position: fixed;              /* fixo na tela */
    top: 0;
    left: 0;
    z-index: 1000;                /* bem acima do restante */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.spinner {
  width: 60px;
  height: 60px;
  border: 10px solid #fff;
  border-top-color: rgb(47, 222, 145);
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  margin-bottom: 10px;
}

.blink {
  animation: blinkEffect 1s infinite;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro translúcido */
  color: #fff; /* texto branco para contraste */
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
