<section class="container-section__card">          
    <div class="container-section__detalhes--detalhes">
        
        <div class="container-section__video video-card"> 
            <video width="100%" height="400" controls>
                <source src="assets/video/aspirador1.mp4" type="video/mp4">
                <track src="assets/video/aspirador1-pt.vtt" kind="subtitles" srclang="pt" label="Português">
                <track src="assets/video/aspirador1-desc.vtt" kind="descriptions" srclang="pt" label="Descrição em Português">
            </video>
        </div>
        
        <div class="container-section__legenda">
            <p>Assista o vídeo e veja que aspirador magnífico!</p>
        </div>
    </div>
</section>
