 <section id="entrega" class="container-section__card">
        <h2 class="container-section__titulo">Como funciona a entrega?</h2>
       
            <p class="container-section__descricao">
                    Você só paga quando o produto chegar na porta da sua casa!
                    Sabemos como é chato comprar na internet sem saber se o produto vai chegar na sua mão, por isso ao comprar esse produto, você só paga quando o ele chegar na sua casa! Mais seguro, mais fácil e revolucionário!
           </p>
            <div class="container-section__body--body">
                
                <div class="container-section__detalhes--detalhes">

                    <div class="container-section__card--card">
                        <div class="container-section__circulo">
                            <i class="fa-solid fa-calendar-check fa-beat-fade" style="color: white; padding-right: 1px;"></i>
                        </div>
                        <h4 class="container-section__centralizar">1-Agende a entrega</h4>
                        <p class="container-section__centralizar">Você agenda a entrega do seu produto para chegar direto na sua casa.</p>
                    </div>
                        
                    <div class="container-section__card--card">
                        <div class="container-section__circulo">
                            <i class="fa-solid fa-clock fa-spin" style="color: white; padding-right: 1px;"></i>
                        </div>
                        <h4 class="container-section__centralizar">2-Acompanhe em tempo real</h4>
                        <p class="container-section__centralizar">Acompanha em tempo real o produto em rota de entrega.</p>
                    </div>
                       
                    <div class="container-section__card--card">
                        <div class="container-section__circulo">
                            <i class="fa-solid fa-hand-holding-dollar fa-beat" style="color: white; padding-left: 5px;"></i>
                        </div>
                        <h4 class="container-section__centralizar">3-Pague na entrega</h4>
                        <p class="container-section__centralizar">Quando sua compra chegar, é só pagar direto pro entregador. Prontinho!</p>
                    </div>

                    <div class="container-section__card--card">
                        <img src="assets/image/entrega.png"  width="210" height="210" alt="Produto 1"/>
                    </div>
                
                </div>
            
                
               
               
             </div>   
      
</section>
