<div class="container-section">
    <section class="container content-section">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="video-card card shadow-lg h-100">
                    <div class="card-body p-0">
                        <div class="embed-responsive embed-responsive-16by9"> 
                            <video width="100%" height="400" controls>
                                <source src="assets/video/aspirador1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-light">
                        <p class="video-legenda">Assista o vídeo e veja que aspirador magnífico!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <h2 class="promotion-section-title mb-5">Detalhes do produto</h2>
        <div class="row align-items-center">
            
            <!-- Imagem à esquerda -->
            <div class="col-md-6 mb-4 delivery-step-card">
                <img src="assets/image/aspirador-acessorios.avif" alt="Aspirador Portátil" class="img-fluid rounded shadow">
            </div>

            <!-- Texto à direita -->
            <div class="col-md-6 img-fluid rounded shadow card h-100 delivery-step-card">
                    <div class="card-body align-items-center">
                        <h2 class="fw-bold mb-3">Sem fio e muito prático para ter no seu carro ou casa e manter tudo sempre arrumado.</h2>
            
                        <p>Esse aspirador sem fio usa um motor de alta potência de 120w, até 32,000 rotações por minuto, pode sugar o cabelo do animal de estimação, poeira, detritos, restos de papel, bom para a limpeza diária. Uma excelente escolha para limpeza de carro e casa.</p>
            
                        <p class="fw-semibold">Mantenha o lugar que você ama sempre arrumado para se sentir bem e receber as pessoas que você gosta.</p>
            
                        <ul class="list-unstyled">
                            <li class="mb-2">
                            <i class="fa-solid fa-circle-check text-success me-2"></i>
                            Portatil,compacto e baixo ruido;
                            </li>
                            <li class="mb-2">
                            <i class="fa-solid fa-circle-check text-success me-2"></i>
                            Ideal para casa, carro e escritório;
                            </li>
                            <li class="mb-2">
                            <i class="fa-solid fa-circle-check text-success me-2"></i>
                            Bateria recarregavel de lítio com 2000 mAh;
                            </li>
                            <li class="mb-2">
                            <i class="fa-solid fa-circle-check text-success me-2"></i>
                            Acessórios inclusos.
                            </li>
                        </ul>

                        <!-- Botão com efeito hover -->
                        <a href="#entrega" class="btn btn-modificado btn-lg mt-3 shadow-sm" style="transition: transform 0.3s ease;">
                            Quero pagar na entrega
                        </a>
                    </div>
            
            </div>
        </div>
    </section>

    <section id="entrega" class="container delivery-section py-5">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="promotion-section-title mb-5">Como funciona a entrega?</h2>
                <p class="lead text-lg-start mb-4">
                    Você só paga quando o produto chegar na porta da sua casa!
                    Sabemos como é chato comprar na internet sem saber se o produto vai chegar na sua mão, por isso ao comprar esse produto, você só paga quando o ele chegar na sua casa! Mais seguro, mais fácil e revolucionário!
                </p>
                <div class="row g-4 align-items-center">

                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm delivery-step-card">
                            <div class="card-body d-flex flex-column align-items-center text-center">
                                <div class="icon-circle bg-success text-white mb-3">
                                    <i class="fa-solid fa-calendar-check fa-beat-fade" style="color: white; padding-right: 1px;"></i>
                                </div>
                                <h3 class="card-title">1-Agende a entrega</h3>
                                <p class="card-text">Você agenda a entrega do seu produto para chegar direto na sua casa.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm delivery-step-card">
                            <div class="card-body d-flex flex-column align-items-center text-center">
                                <div class="icon-circle bg-success text-white mb-3">
                                    <i class="fa-solid fa-clock fa-spin" style="color: white; padding-right: 1px;"></i>
                                </div>
                                <h3 class="card-title">2-Acompanhe em tempo real</h3>
                                <p class="card-text">Acompanha em tempo real o produto em rota de entrega.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm delivery-step-card">
                            <div class="card-body d-flex flex-column align-items-center text-center">
                                <div class="icon-circle bg-success text-white mb-3">
                                <i class="fa-solid fa-hand-holding-dollar fa-beat" style="color: white; padding-left: 5px;"></i>
                                </div>
                                <h3 class="card-title">3-Pague na entrega</h3>
                                <p class="card-text">Quando sua compra chegar, é só pagar direto pro entregador. Prontinho!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="card h-100 shadow-sm delivery-step-card">
                    <img src="assets/image/entrega.png" width="" height="450" class="d-block w-100" alt="Produto 1"/>
                </div>
            </div>    
        </div>
    </section>

    <section id="oferta" class="container col-md-12 delivery-section">
        <h2 class="promotion-section-title mb-5">Escolha a sua oferta ideal!</h2>

        <div class="row align-items-center g-4">

            <div class="col-12 col-md-4 d-flex">
                <div class="card promotion-card featured-card flex-fill shadow-lg">
                    <div class="card-body text-center d-flex flex-column delivery-step-card">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 1 Unidade" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">1 unidade</h3>
                        <p class="current-price">R$ 97,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$10,69</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/qdnfh-1-unidade-97" 
                           class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                           style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex">
                <div class="card promotion-card featured-card flex-fill shadow-lg">
                    <div class="card-body text-center d-flex flex-column delivery-step-card">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">2 unidades</h3>
                        <p class="current-price">R$ 189,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$20,83</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-1-leve-2-por-189" 
                           class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                           style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex">
                <div class="card promotion-card featured-card flex-fill shadow-lg">
                    <div class="card-body text-center d-flex flex-column delivery-step-card card-body-modificado">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">3 unidades</h3>
                        <p class="current-price">R$ 247,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$27,22</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-2leve-3-por-247" 
                           class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                           style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

 </div>
