<div class="container-section">
    
    <section class="container-geral">
        <app-sessao-video></app-sessao-video>
    </section>

    <section class="container-geral">
        <app-detalhes-produto></app-detalhes-produto>
    </section>

    <section class="container-geral">
        <app-entrega></app-entrega>
    </section>

    <section class="container-geral">
        <app-escolha-oferta></app-escolha-oferta>
    </section>

    <section class="container-geral">
        <app-fale-conosco></app-fale-conosco>
    </section>

 </div>
