 <section id="oferta" class="container-card col-md-12 card delivery-step-card mb-5">
    <div class="card-body">
        <h2 class="mb-5">Escolha a sua oferta ideal!</h2>
        <div class="row align-items-center g-4">

            <div class="col-12 col-md-4 d-flex ">
                <div class="promotion-card featured-card flex-fill shadow-lg">
                    <div class="text-center d-flex flex-column">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 1 Unidade" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">1 unidade</h3>
                        <p class="current-price">R$ 97,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$10,69</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/qdnfh-1-unidade-97" 
                        class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                        style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex">
                <div class="promotion-card featured-card flex-fill shadow-lg">
                    <div class="text-center d-flex flex-column">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">2 unidades</h3>
                        <p class="current-price">R$ 189,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$20,83</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-1-leve-2-por-189" 
                        class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                        style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex">
                <div class="promotion-card featured-card flex-fill shadow-lg">
                    <div class="text-center d-flex flex-column">
                        <div class="product-image-container mb-3">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                            <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="img-fluid product-promo-img">
                        </div>
                        <h3 class="card-title unit-quantity">3 unidades</h3>
                        <p class="current-price">R$ 247,00 <span class="installments">à vista</span></p>
                        <p class="cash-price"><span class="installments">12x de R$27,22</span></p>
                        <p class="frete">Frete gratis</p>
                        <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-2leve-3-por-247" 
                        class="btn btn-modificado btn-lg mt-3 shadow-sm" 
                        style="transition: transform 0.3s ease;">
                            Escolher esse
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
