<section id="oferta" class="container-section__card">
    <h2 class="container-section__titulo">Escolha a sua oferta ideal!</h2>

    <div class="container-section__card--card"> <!-- Container principal dos cards -->
        <div class="container-section-card__detalhes"> <!-- Card 1 -->
            <!-- Seu conteúdo do card aqui -->
            <div class="container-section__img">
                <img src="assets/image/aspirador.png" alt="Produto 1 Unidade" width="100" height="100" class="container-section__img--img">
            </div>
            <h3 class="container-section__quantidade">1 unidade</h3>
            <p class="container-section__preco">R$ 97,00 <span class="installments">à vista</span></p>
            <p class="container-section__dinheiro"><span class="installments">12x de R$10,69</span></p>
            <p class="container-section__frete">Frete gratis</p>
            <a href="https://entrega.logzz.com.br/pay/memmpg5vn/qdnfh-1-unidade-97" 
            class="btn btn-modificado btn-lg mt-3 shadow-sm" 
            style="transition: transform 0.3s ease;">
                Escolher esse
            </a>
        </div>
        
        <div class="container-section-card__detalhes"> <!-- Card 2 -->
            <!-- Seu conteúdo do card aqui --> 
            <div class="container-section__img">
                <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="container-section__img--img">
                <img src="assets/image/aspirador.png" alt="Produto 2 Unidades" width="100" height="100" class="container-section__img--img">
            </div>
            <h3 class="container-section__quantidade">2 unidades</h3>
            <p class="container-section__preco">R$ 189,00 <span class="installments">à vista</span></p>
            <p class="container-section__dinheiro"><span class="installments">12x de R$20,83</span></p>
            <p class="container-section__frete">Frete gratis</p>
            <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-1-leve-2-por-189" 
            class="btn btn-modificado btn-lg mt-3 shadow-sm" 
            style="transition: transform 0.3s ease;">
                Escolher esse
            </a>   
        </div>
        
        <div class="container-section-card__detalhes"> <!-- Card 3 -->
            <!-- Seu conteúdo do card aqui -->
            <div class="container-section__img">
                <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="container-section__img--img">
                <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="container-section__img--img">
                <img src="assets/image/aspirador.png" alt="Produto 3 Unidades" width="100" height="100" class="container-section__img--img">
            </div>
            <h3 class="container-section__quantidade">3 unidades</h3>
            <p class="container-section__preco">R$ 247,00 <span class="installments">à vista</span></p>
            <p class="container-section__dinheiro"><span class="installments">12x de R$27,22</span></p>
            <p class="container-section__frete">Frete gratis</p>
            <a href="https://entrega.logzz.com.br/pay/memmpg5vn/compra-2leve-3-por-247" 
            class="btn btn-modificado btn-lg mt-3 shadow-sm" 
            style="transition: transform 0.3s ease;">
                Escolher esse
            </a>      
        </div>
    </div>
</section>
 
 
