.container-geral {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-section{
    width: 100%;
    padding-right: 10px;
    padding-left:  10px;
    display: flex;
    flex-wrap: wrap;
}

.container-section__card {
    padding: 10px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.container-section__titulo {
    width: 100%;
    padding-bottom: 10px;
}

.container-section__body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

}

.container-section__detalhes {
   display: flex;
   gap: 1rem;
   align-items: stretch;
}

.btn-modificado{
    background-color: rgb(47, 222, 145); /* Cor mais escura no hover */
    border-color: white;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-modificado:hover{
    background-color: rgb(39, 186, 122);
    color: white;
    border-color: white;
    transform: translateY(-2px); /* Pequeno efeito de levantar no hover */
}

@media (min-width: 340px) and (max-width: 768px) {
    .container-section__detalhes {
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    .container-geral {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-geral {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-geral {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-geral {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-geral {
        max-width: 1320px;
    }
}



