<section class="container-section__card ">
  <h2 class="container-section__titulo">Detalhes do produto</h2>

  <div class="container-section__detalhes">
    
    <!-- Imagem à esquerda -->
    <div class="container-section__img">
        <div class="container-section__body">
            <img
                src="assets/image/aspirador-acessorios.avif"
                alt="Aspirador Portátil"
                class="container-section-card container-section__img--img"/>
        </div>
    </div>

    <!-- Texto à direita -->
    <div class="container-section__card">
      <div class="container-section__body">
        <h2 class="fw-bold mb-3">
          Sem fio e muito prático para ter no seu carro ou casa e manter tudo sempre arrumado.
        </h2>

        <p>
          Esse aspirador sem fio usa um motor de alta potência de 120w, até 32,000 rotações por minuto,
          pode sugar o cabelo do animal de estimação, poeira, detritos, restos de papel, bom para a limpeza diária.
        </p>

        <p class="fw-semibold">
          Mantenha o lugar que você ama sempre arrumado para se sentir bem e receber as pessoas que você gosta.
        </p>
        <ul class="list-unstyled pb-3">
          <li class="mb-2">
            <i class="fa-solid fa-circle-check text-success me-2"></i>
            Portátil, compacto e baixo ruído
          </li>
          <li class="mb-2">
            <i class="fa-solid fa-circle-check text-success me-2"></i>
            Ideal para casa, carro e escritório
          </li>
          <li class="mb-2">
            <i class="fa-solid fa-circle-check text-success me-2"></i>
            Bateria recarregável de lítio com 2000 mAh
          </li>
          <li class="mb-2">
            <i class="fa-solid fa-circle-check text-success me-2"></i>
            Acessórios inclusos
          </li>
        </ul>

        <a href="#entrega" class="btn btn-modificado btn-lg mt-3 shadow-sm">
          Quero pagar na entrega
        </a>
      </div>
    </div>
  </div>
</section>
