<footer class="footer">
    <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; max-width: 1200px; margin: auto;">
        <div class="card">
            <i class="fas fa-credit-card fa-2x fa-beat-fade" style="color: rgb(47, 222, 145);"></i>
            <strong>Pague só na entrega</strong><br>
            <span style="font-size: 14px; color: #555;">Muito mais seguro</span> 
        </div>
        <div class="card">
            <i class="fas fa-rocket fa-2x fa-beat-fade" style="color: rgb(47, 222, 145);"></i>
            <strong>Envio flash record</strong><br>
            <span style="font-size: 14px; color: #555;">É rápido de verdade</span> 
        </div>
        <div class="card">
            <i class="fas fa-box fa-2x fa-beat-fade" style="color: rgb(47, 222, 145);"></i>
            <strong>Produto de qualidade</strong><br>
            <span style="font-size: 14px; color: #555;">Com 30 dias de garantia</span>
        </div>
        <div class="card">
            <i class="fas fa-shield-alt fa-2x fa-beat-fade" style="color: rgb(47, 222, 145);"></i>
            <strong>Compra segura</strong><br>
            <span style="font-size: 14px; color: #555;">Dados protegidos</span>
        </div>
    </div>
    
    <div class="footer-descricao">
        <p>&copy; 2025 Sua Loja Online. Todos os direitos reservados.</p>
        <p>Ambiente 100% seguro. Dados criptografados com tecnologia SSL.</p>
        <p>
         <span style="color: white; text-decoration: underline; margin: 0 5px;">Política de Privacidade</span> |
         <span href="#" style="color: white; text-decoration: underline; margin: 0 5px;">Termos de Uso</span>
        </p>
    </div>
</footer>
